.card {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 20px black;
  margin: 100px auto;
}

#dp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 50px;
}

.profile {
  background-color: rgb(245, 233, 185);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
  border-bottom: 0.5px solid rgb(220, 213, 213);
}

.subdetails {
  color: rgb(166, 173, 173);
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.personalInfo {
  line-height: 5px;
}

#username {
  font-weight: bolder;
  color:rgb(81, 85, 85);
}

.details {
  background-color: rgba(43, 89, 30, 0.84);
  height: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
 font-size: 20px;
 color: rgb(36, 22, 22);
}

p{
  color: rgb(146, 144, 144);
}

span {
  display: inline-block;
  line-height: 2.5px;
  margin: 15px;
}

#msg {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

#more {
  margin: 15px;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(189, 193, 189);
}
